@include font-family('Oxygen');


body {
	@include background('sky.png');
	font-family: $stack-oxygen;
	color: $white;
	width: 100%;
	margin: auto;
	height: 1000px;	

	.error-box {
	    width: 600px;
	    height: 80px;
	    background: black;
	    border-radius: 5px;
	    position: fixed;
	    top: 40%;
	    left: 50%;
	    margin-left: -300px;
	    opacity: .9;
	    text-align: center;

	    span {
    	    position: absolute;
		    top: 5px;
		    right: 10px;
		    cursor: pointer;
	    }
	}
    
	.nav {
		width: 100%;
		@include flexbox();
		position: fixed;
		z-index: 1000;
		top: 0;
		height: 10%;
		min-height: 70px;
		background-color: $black;

		.menu {
			@include flexbox();
			@include flex(1, 0);
			@media #{$break-laptop} {
				display: none;
			}

			ul {
				list-style-type: none;
				@include flexbox();
				@include flex(3, 0);
				margin: 0;

				li {
					text-align: center;
					@include flex(1, 0);
					padding-top: 3%;

					a {
						text-decoration: none;
						color: $white;
						letter-spacing: 2px;
					}
				}
			}
		}

		.inputdiv {
			text-align: right;
			@include flex(2, 0);
			-ms-flex-item-align: center;
		  	align-self: center;

		  	input {
				@include text(16px);
				border-radius: 2%;
				border: 3px solid $grey;
				height: 30px;
				width: 200px;
				margin-right: 15%;
				padding-left: 10px;
				&:focus {
					outline: none;
				}
			}
		}
	}

	.main {
		margin: auto;
		@include flexbox();
		height: 100%;

		.view {
			width: 100%;
			@include flexbox();
			@include flex(1, 0);
			height: 100%;

			.panel {
				@include flexbox(column);
				@include flex(1, 0);
				margin: 15% auto 0;
				max-width: 20%;
				width: 5%;
				height: 60%;
				padding: 1%;
				text-align: center;
				border-radius: 2%;
				background-color: $salmon;
				box-shadow: 5px 5px 5px $black;

				@media #{$break-laptop} {
					margin-top: 20%;
					max-width: 30%;
				}
				@media #{$break-tablet} {
					margin-top: 30%;
					max-width: 50%;
				}

				.info {
					@include flex(1, 0);

					.location, .fahrenheit, .celsius, .description, .date {
						text-shadow: 1px 1px black;
						overflow: hidden;
					}

					
					.skycon {
						max-width: 100%;
					}
				}
			}

			.panel-daily, .panel-hourly {
				margin-left: 2%;
				margin-right: 2%;	
			}

			.panel-hourly {
				height: 45%;
				#hour {
					padding-top: 10%;
				}
			}	
		}	
	}
}
