@include font('Oxygen', '/fonts/Oxygen-Regular');

body {
	background: #36365c;
	font-family: 'Oxygen';
	color: $white;
	width: 100%;
	margin: auto;
		

	.error-box {
	    width: 600px;
	    height: 80px;
	    background: black;
	    border-radius: 5px;
	    position: fixed;
	    top: 40%;
	    left: 50%;
	    margin-left: -300px;
	    opacity: .9;
	    text-align: center;

	    span {
    	    position: absolute;
		    top: 5px;
		    right: 10px;
		    cursor: pointer;
	    }
	}

	.nav {
		display: flex;
		flex-direction: column;
		width: 100%;
		background-color: $black;

		.menu {
			div.nav-buttons {
				display: flex;
				flex-direction: column;
				width: 100%;
				padding-left: 0;
				padding-top: 0;
				margin-bottom: 0;
				margin-top: 0;
				line-height: 70px;

				div.nav-button {
					height: 70px;
					padding-top: 0;
					text-align: center;
					@include flex(1, 0);
					border-bottom: 3px solid white;

					&:hover {
						background: #884e4e;
					}

					a {
						text-decoration: none;
						letter-spacing: 2px;
						color: $white;
						
						h3 {
							margin: 0;
						}
					}
				}
			}
		}

		.inputdiv {
			display: flex;
			flex-direction: column;
			text-align: center;
    		padding: 20px;

			label {
				color: black;
				height: 0;
			}
			input {
				margin: auto;
				@include text(16px);
				border-radius: 2%;
				border: 3px solid $grey;
				height: 30px;
				width: 200px;
				padding-left: 10px;
				&:focus {
					outline: none;
				}
			}
		}
	}

	.main {
		margin: auto;
		@include flexbox();
		height: 100%;

		.view {
			width: 100%;
			@include flexbox(column);
			@include flex(1, 0);
			height: 100%;

			.panel {
				@include flexbox(column);
				margin: 50px auto 50px;
				width: 250px;
				height: 60%;
				padding: 1%;
				text-align: center;
				background-color: rgba(28, 23, 23, 0.7);
                border-radius: 0;

				.info {
					@include flex(1, 0);

					.location, .fahrenheit, .celsius, .description, .date {
						text-shadow: 1px 1px black;
						overflow: hidden;
					}
				}
			}

			.panel-daily, .panel-hourly {
				width: 95% !important;
				margin: 50px auto 0;

				.content-row {
					@include flexbox();
					.icon-column {
						flex: 1 0;
					}
					.info-column {
						flex: 1 0;
                        display: flex;
                        align-items: center;
						.info {
							.fahrenheit, .celsius {
								h1 {
									margin: 0;
								}
							}
						}
						.skycon {
							width: 200px;
							height: 200px;
						}

					}
				}
				.description-row {
					margin-top: 0;
				}
				.daily-location {
					margin-bottom: 0;
				}
				
			}

			
		}	
	}
}





