@mixin background($url, $posy: top, $posx: left, $size: cover, $repeat: no-repeat) {
	background-image: url('#{$path-img}#{$url}');
	background-position: $posy $posx;
	background-size: $size;
	repeat: repeat; 
}

@mixin font-family($font-family) {
	@import url(#{$path-font}#{$font-family});
}

@mixin text($font-size, $l-height: null, $weight: null, $color: null) {
	font-size: $font-size;
	line-height: $l-height;
	font-weight: $weight;
	color: $color;
}

@mixin flex($grow, $basis) {
	   -webkit-box-flex: $grow;
	    -ms-flex: $grow $basis;
	        flex: $grow $basis;
}

@mixin transition($duration, $property, $timing: ease-in-out, $delay: null) {
	-webkit-transition: $duration $property $timing $delay;
	transition: $duration $property $timing $delay;
}


@mixin flexbox($flex-direction: row, $justify-content: null, $display: flex) {
	display: $display;
	@if $flex-direction == row-reverse {
		-webkit-box-direction: reverse;
		-webkit-box-orient: horizontal;
	} @else if $flex-direction == column {
		-webkit-box-direction: normal;
		-webkit-box-orient: vertical;
	} @else if $flex-direction == column-reverse {
		-webkit-box-direction: reverse;
		-webkit-box-orient: vertical;
	} @else {
		-webkit-box-direction: normal;
		-webkit-box-orient: horizontal;
	}
	-webkit-flex-direction: $flex-direction;
	   -moz-flex-direction: $flex-direction;
	    -ms-flex-direction: $flex-direction;
	        flex-direction: $flex-direction;

	      -webkit-box-pack: $justify-content;
  	    	 -ms-flex-pack: $justify-content;
  	       justify-content: $justify-content;
}

@mixin flex($grow, $basis) {
	-webkit-box-flex: $grow;
	        -ms-flex: $grow $basis;
	            flex: $grow $basis;
}


@mixin font($font-family, $font-file) {
	@font-face {
		font-family: $font-family;
		src:
			url($font-file+'.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
}