/* color variables */

$salmon		:	rgba(122, 40, 28, .7);
$white		:	#fff;
$black		:	rgb(1,1,1);
$grey		:	grey;

/* paths */
$path-font				:	'https://fonts.googleapis.com/css?family=';
$path-img				:	'../images/';



$stack-sans-serif		:	Helvetica, Arial, sans-serif;
$stack-oxygen			:	'Oxygen', $stack-sans-serif;
