@include font-family('Oxygen');

body {
	font-family: $stack-oxygen;
	color: $white;
}

input {
	@include text(16px);
}

a {
	text-decoration: none;
	color: $white;
	letter-spacing: 2px;
}

.inputdiv {
	text-align: right;
}

li {
	@extend %centered;
}

.panel {
	@extend %centered;
}