body {
	@include background('sky.jpg');
}

.location, .fahrenheit, .celsius, .description {
	text-shadow: 1px 1px black;
	overflow: hidden;
}

.nav {
	background-color: $black;	
}

ul {
	list-style-type: none;
}

.panel {
	@extend %radius;
	background-color: $salmon;
	box-shadow: 5px 5px 5px $black;	
}

input {
	@extend %radius;
	border: 3px solid $grey;	
	&:focus {
		outline: none;
	}
}
		
	


