
.menu {
	@include flexbox();
	@include flex(1, 0);
	@media #{$break-laptop} {
		display: none;
	}
}

ul {
	@include flexbox();
	@include flex(3, 0);
	margin: 0;
}

li {
	@include flex(1, 0);
	padding-top: 3%;
}

.nav {
	@extend %width;
	@include flexbox();
	position: fixed;
	z-index: 1000;
	top: 0;
	height: 10%;
	min-height: 70px;
}

.inputdiv {
	@include flex(2, 0);
	@extend %align-self;
}

input {
	height: 30px;
	width: 200px;
	margin-right: 15%;
	padding-left: 10px;
}