
.view {
	@extend %width;
	@extend %flexbox;
	@include flex(1, 0);
	height: 100%;	
}

.panel {
	@extend %flexbox;
	@include flex(1, 0);
	@include flex-direction(column);
	margin: 15% auto 0;
	max-width: 20%;
	width: 5%;
	height: 60%;
	padding: 1%;
}

.panel-daily, .panel-hourly {
	margin-left: 2%;
	margin-right: 2%;	
}

.panel-hourly {
	height: 45%;
}

.info {
	@include flex(1, 0);
}
	
#hour {
	padding-top: 10%;
}
